# Arquivos compilados e dependências
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Sistema Operacional
.DS_Store

# Testes e Cobertura
/coverage
/.nyc_output

# IDEs e Editores
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Arquivos de variáveis de ambiente
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Diretórios temporários
.temp
.tmp

# Dados de Runtime
pids
*.pid
*.seed
*.pid.lock

# Relatórios de diagnóstico
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# --- Customização para SOS Idiomas ---

# Banco de dados SQLite (TypeORM)
*.sqlite
*.sqlite-journal

# Pasta de Uploads (Arquivos enviados por alunos)
/uploads/*
!/uploads/.gitkeep